<section id="Signin">
	<form class="form-inline" novalidate name="signin" method="POST" action="sessions">
		<input class="form-control" type="email" name="session[email]" placeholder="Email" ng-model="email" required>
		<input class="form-control" type="password" name="session[password]" placeholder="Password" ng-model="password" required>
		<input class="form-control" type="checkbox" name="session[remember_me]" placeholder="Remember Me" ng-model="remember_me">
		<input class="btn btn-success" type="submit" value="login">
	</form>
</div>