<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CVSTOM.org, artificial intelligence for resumes</h1>
    <p>
      You have successfully created an account at CVSTOM.org.
    </p>
    <p>
     To complete the registration process and begin using the site, please click <a href="<%= @url %>">here</a> to activate your account.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>